@using MuskMotions.Models
@model List<MuskMotions.Models.Airplane>
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>    
<link rel="stylesheet" href="css/home.css">
<div id='map'></div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script>
    

    var map = L.map('map').setView([33.9425222,-100.4071611], 4);
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        
    }).addTo(map);

    var LeafIcon = L.Icon.extend({
        options: {
            shadowUrl: 'leaf-shadow.png',
            iconSize: [38, 95],
            shadowSize: [50, 64],
            iconAnchor: [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor: [-3, -76]
        }
    });

  
    var airplaneIcon = L.icon({
        iconUrl: '@Url.Content("~/airplane.png")',
        iconSize: [45, 60], // size of the icon
        shadowSize: [0, 0], // size of the shadow
        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    $.ajax({
        url: '/Home/GetBranch', 
        success: function (data) {
            console.log(data)
            $(data).each(function (index, item) {
                var lat = item.branchGeoLocationLat;
                var long = item.branchGeoLocationLong;
                L.marker([lat, long], { icon: airplaneIcon }).bindPopup("I am the " + item.branchName + " leaf.").addTo(map);
            });
        },
    });
        
    
    //L.marker([51.49, -0.1], { icon: orangeIcon }).bindPopup("I am an orange leaf.").addTo(map);

</script>
@foreach(var plane in Model)
{
    <script>
        L.marker([@plane.Latitude, @plane.Longitude], { icon: airplaneIcon }).bindPopup("Plane icao: @plane.Icao").addTo(map);
    </script>
}
