@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/support.css">

<div class="wrapper">
    <div class="crypto-window">
        <h2 class="name">Crypto</h2>
        <h5 class="crout-finding-name">BTC:</h5>
        <h6 class="crout-finding">bc1qr7wp8wxq5aw98mcr4ezcx58geam3xm7ahfj7wr</h6>
        <h5 class="crout-finding-name">ETH/ERC20:</h5>
        <h6 class="crout-finding">0x9B9528BCAB986A81879af40216Ffa11827Fe0670</h6>
        <h5 class="crout-finding-name">TRC20:</h5>
        <h6 class="crout-finding">TWBUVkE5oAQSRxFiDi6hcFbHZC23hzDnhT</h6>
    </div>
    <div class="window">
        <h2 class="name">Banks</h2>
        <h5 class="crout-finding-name">🇵🇹 Caixa Geral:</h5>
        <h5 class="crout-finding-name">🇷🇺 Tinkoff:</h5>
        <h6 class="crout-finding"><a href="https://www.tinkoff.ru/cf/1z6wzbobkIY">https://www.tinkoff.ru/cf/1z6wzbobkIY</a> </h6>
        <h5 class="crout-finding-name">🇷🇺 Alfabank:</h5>
        <h5 class="crout-finding-name">🇷🇺 Sber:</h5>
    </div>
    <div class="window">
        <h3 class="name"><p>Give me star on GitHub</p></h3>
    </div>
</div>