@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/support.css">

<div class="wrapper">
    <div class="crypto-window">
        <h2 class="name">Crypto</h2>
        <div class="adresses">
            <h5 class="crypto-name">BTC:</h5>
            <h6 class="crypto-adress"><span id="btc-address">bc1qr7wp8wxq5aw98mcr4ezcx58geam3xm7ahfj7wr</span><button class="copy-btn">Co</button></h6>
            <h5 class="crypto-name">ETH/TRC20:</h5>
            <h6 class="crypto-adress"><span id="eth-address">0x9B9528BCAB986A81879af40216Ffa11827Fe0670</span><button class="copy-btn">Copy</button></h6>
            <h5 class="crypto-name">TRC20:</h5>
            <h6 class="crypto-adress"><span id="trc-adress">TWBUVkE5oAQSRxFiDi6hcFbHZC23hzDnhT</span><button class="copy-btn">Copy</button></h6>
        </div>
    </div>
    <div class="window">
        <h3 class="name">Give me star on GitHub</h3>
    </div>
    <div class="window"></div>
</div>